<div id="mainBkgBlockFooter" class=".container-fluid card-footer">
    <div id="footer-wrapper" class="container">
        <div id="__InfoFooter" class="container text-center">########### SA &copy; 2020</div>
    </div>   
</div>